<html>
  <style>
body {
	margin: 0; 
	padding: 0;  
	background: #222222; 
  font-family: Georgia, serif;
  font-style: italic;
	font-weight: bold;
	text-align: center;
}

h1	{
	color: #e9b30c;
	font-size: 200px;
	margin-top: 250px;
}
	
  </style>    
  <body>
    <h1><%= @who %></h1>
  </body>
</html
