<html>
  <style>
body {
	margin: 0; 
	padding: 0;  
	background: #000; 
	font-family: georgia, serif;
	font-weight: bold;
	text-align: center;
}

h1	{
	color: #fff;
	font-size: 200px;
	margin-top: 250px;
}
	
  </style>    
  <body>
    <h1><%= @who %></h1>
  </body>
</html
